body {
    margin: 0px auto;
    background: url("../img/bk6.jpg");
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 18px;
    position: relative;
}

.leftstrype {
    display:inline-table;
    width: 235px;
    margin: 20px;
    background-color: rgb(88, 88, 88);
    box-shadow: 0 5px 10px rgb(131, 130, 130);
    border-radius: 5px;
    padding: 20px;
}

.rightstrype {
    display:inline-table;
    width: 500px;
    margin: 20px;
    background-color:#ccc;
    box-shadow: 0 5px 10px rgb(131, 130, 130);
    border-radius: 5px;
    padding: 20px;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16.4px;
    text-align: left;
    margin-top: 2px;
    }

.cdf {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0px auto;
    border-radius: 5%;
}

.cdname {
    font-size: 25px;
    margin: -5px auto;
    text-align: center;
    color: rgb(234, 234, 234);
    margin-bottom: 5px;  
    text-align: center;
}

.cdsubname {
    font-size: 17px;
    text-align: center;
    margin: 5px auto;
    color: rgb(234, 234, 234); 
    text-align: center;
    margin-bottom: -10px;
}

.cdtxtramka {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(234, 234, 234);
    margin-bottom:  -5px;
    text-align: center;
}

.ramka {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(234, 234, 234);
    border: 2px solid rgb(235, 235, 235);
    padding: 5px;
    margin: -10px auto;
    margin-bottom: 0px;
    text-align: center;
} 

.ramkatxt {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(234, 234, 234);
    margin: 3px;
    margin-bottom: 0px;
    text-align: center;
}

.ramkatxtl {
    font-size: 18px;
    margin: 0px;
}

.tools {
    color:rgb(234, 234, 234);
    text-align: center;
    margin: 0px;
    margin-top: -8px;
    border: 2px solid rgb(235, 235, 235);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    }

.toolsh {
    margin: 0px;
    margin-bottom: -15px;
    font-size: 19px;
}

.toolstext {
    text-align: left;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: -15px;
}

.toolstext2 {
    text-align: left;
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: -15px;
    line-height: 1.5;
}

.skills {
    margin: 0px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 1.35em;
}

.skillstxt {
    margin: 15px;
}

.link {
    text-align: center;
    margin: -10px;
}