body {
    margin: 10px;
    background: url("../img/bk6.jpg");
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 18px;
    overflow:hidden
    }

.cd {
    width: 400px;
    margin: 20px auto;
    background-color: #ccc;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
    padding: 20px;

}

.cdf {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0px auto;
    border-radius: 33%;
}

.cdname {
    font-size: 25px;
    margin: 0px auto;
    text-align: center;
}

.cdsubname {
    font-size: 18px;
    text-align: center;
    margin: 0px auto;
}

.cdtxt {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    margin-bottom:  5px;
    }

.cdskills {
    margin-bottom: -10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
       }

.cdlist {
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
    margin-bottom:  -10px;
   }